{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-6">
        <h3 class="">Õppekeskus <small><a href="http://vmok.v-maarja.ee/oppetoo/tunniplaan/">originaal<span class="hide-on-mobl">
tunniplaan</span></a></small></h3>
      <ul class="list-unstyled">
        {% for tp in dirs %}
        <li>
          <a href="/vmok/{{tp.path}}{% if last_tp_vmok != None %}/{{last_tp_vmok}}{%endif%}">
          {% if tp.get("title") %}
            {% if tp.get("bold") %}<strong>{% endif %}
                {{ tp.title }} ({% if tp.path == "future" %}Kinnitamata{% else %}{{ tp.path.replace("/", "-") }}{% endif %})
            {% if tp.get("bold") %}</strong>{% endif %}
          {% else %}
            {{ tp.path.replace("/", "-") }}
          {% endif %}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col-sm-6">
      <h3 class="">Gümnaasium <small><a href="http://vmg.v-maarja.ee/oppetoo/tunniplaan/">originaal<span class="hide-on-mobl">
tunniplaan</span></a></small></h3>
      <ul class="list-unstyled">
        {% for tp in vmg_dirs %}
          <li><a href="/vmg/{{ tp }}{% if last_tp_vmg != None %}/{{last_tp_vmg}}{%endif%}">{{ tp }}</a></li>
        {% endfor %}
      </ul>
    </div>
</div>

<div class="row">
	<div class="col-sm-12">
      <h3 class="">Jõgevamaa Gümnaasium <small><a href="http://jogevagymn.kovtp.ee/tunniplaan">originaal<span class="hide-on-mobl">
tunniplaan</span></a></small></h3>
      <ul class="list-unstyled">
        {% for tp in jogeva_dirs %}
          <li><a href="/jogeva/{{ tp }}{% if last_tp_jogeva != None %}/{{last_tp_jogeva}}{%endif%}">{{ tp }}</a></li>
        {% endfor %}
      </ul>
    </div>
</div>

<hr>
<footer>
<span class="hide-on-mobl">Lühike aadress siia: </span><a href="#tpartieeqrcode" class="btn btn-link" style="padding: 0; margin-top: -3px;" data-toggle="modal" data-target="#tpartieeqrcode">tp.arti.ee</a> | <span class="break-on-mobl"><a href="/archive">Arhiiv</a> | <a href="/blog">Blogi</a> | <a href="/blog">Teave</a></span>
</footer>


<!-- Modal -->
<div class="modal fade" id="tpartieeqrcode" tabindex="-1" role="dialog" aria-labelledby="tpartieeqrcodeLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button style="margin-top: 3px; margin-left: 10px;" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="tpartieeqrcodeLabel">Skänni seda QR koodi oma telefoniga et avada tunniplaan.arti.ee</h4>
      </div>
      <div class="modal-body">
          <img class="img-responsive" style="margin: auto; display: block;" src="/static/img/qrcode.png"></img>
          <a href="http://tp.arti.ee/" class="text-muted text-center" style="display:block;text-align:center">http://tp.arti.ee/</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Sulge</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}
