{% extends "layout.html" %}
{% block content %}
<!--<a href="#" class="btn btn-primary" role="button">&lt;</a>-->

<div class="col-sm-6 col-sm-offset-3">
  {% for x, t, l in ((names[0],"c",t_list[0]), (names[1],"t",t_list[1]), (names[2],"r",t_list[2])) %}
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      {{x}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      {% for name in l %}
      <li><a href="{{date}}/{{t}}/{{name}}">{{"".join(name.split(".")[:-1])}}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>
<!--<a href="#" class="btn btn-default" role="button">Suuna siia lehele järgmine kord automaatselt</a>-->

<!--<a href="#" class="btn btn-primary pull-right" role="button">&gt;</a>-->

{% endblock %}

{% block image %}
<a href="{{img_path}}"><img class="center-block" style="max-width:100%; height: auto"src="{{img_path}}"></a>
{% endblock %}
