{% extends "layout.html" %}
{% block content %}
<!--<a href="#" class="btn btn-primary" role="button">&lt;</a>-->

<div class="centre hidden-print">
  {% for x, t, l in ((names[0],"c",t_list[0]), (names[1],"t",t_list[1]), (names[2],"r",t_list[2])) %}
  <div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
      {{x}} <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      {% for name in l %}
      {% set name = name[:-4] %}
      <li><a href="{{date}}/{{t}}/{{name}}">{{name}}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>
<!--<a href="#" class="btn btn-default" role="button">Suuna siia lehele järgmine kord automaatselt</a>-->

<!--<a href="#" class="btn btn-primary pull-right" role="button">&gt;</a>-->

{% endblock %}

{% block image %}
<img class="center-block" style="max-width:100%; height: auto"src="{{img_path}}">
<div class="centre hidden-print" id="tp-bottom-buttons">
  <a href="{{img_path}}" class="btn btn-default" download="{{tp_name}}.png">Lae tunniplaan alla</a>
</div>
{% endblock %}

